numpy==1.23.5
pandas==1.5.3
matplotlib
tifffile
dask[array]
scikit-image
opencv-python
trackpy

# Napari GUI
napari==0.4.19.post1
pyqt5

# Segmentation + video export
cellpose==3.1.1.3
imageio
imageio-ffmpeg

# Cellpose deps (pin to stable combo on Windows)
torch==2.0.1
torchvision==0.15.2

